<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>jpa_edit (既存のstaff 情報の編集) </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    rel="stylesheet">
</head>
<body>

	<h1>JPA(UPDATE:更新) 編集画面</h1>

	<form action="" th:action="@{/staff/edit/{id}/exe(id = ${staff.id})}" method="GET" th:object="${form}">
		<p>id: <span th:text="${staff.id}"></span></p>
		<p>名前: <input type="text" name="name" th:value="*{name}"></input></p>
		<div th:if="#{fields.hasErrors('name')}" th:errors="*{name}" class="error">エラー</div>
		<input type="submit" value="次へ進む">
  	</form>

</body>
</html>
